/* RESETS */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Montserrat", sans-serif;
	height: 100%;
	color: #121212;
	font-size: 65%;
}

img {
	display: block;
	max-width: 100%;
}

input,
button,
select {
	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

span {
	font-weight: 700;
}

small {
	font-size: 1.4rem;
	margin-top: 1.6rem;
}

/* HEADER */
.logo {
	height: 10rem;
}

.header {
	background-color: rgb(228 255 245);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 9rem;
	padding: 0 1%;
}

.main-nav-list {
	list-style: none;
	display: flex;
	gap: 4px;
	font-size: 15px;
	font-weight: 700;
	background: #a9efb3ad;
	border-radius: 50px;
	padding: 1rem 2rem;
}

.main-nav-list a {
	padding: 1rem;
	transition: all 150ms ease-in-out;
}

.main-nav-list a:hover {
	background: rgba(140, 195, 146, 0.68);
	color: #053824;
}

.header .solid-btn {
	padding: 1rem 15px;
}

.header .solid-btn i {
	color: #e3f9da;
	margin-right: 0.2rem;
}

/* HEADER STICKY */
.sticky .header {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: #ebfff6b7;;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	z-index: 10;
	height: 8rem;
	box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
}

.sticky .section-hero {
	margin-top: 8rem;
}

/* MOBILE NAV */
.mobile-nav-btn {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
	box-shadow: none;
	width: fit-content;
}

.mobile-nav-btn i {
	color: #0e2803;
	font-size: 3.6rem;
}

.mobile-order,
.mobile-close i {
	display: none;
}

.half-width {
	min-width: 80%;
	border-radius: 10px;
	border: 15px;
	background-color: rgba(250,250,250);
	box-shadow: 0px 2px 5px 5px #b5d0ba;
	margin: 0% 15%;
	transition: all 200ms ease-in;
}

.half-width:hover {
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	transform: scale(1.02);
	box-shadow: 0px 4px 10px 10px #b5d0ba;
}


.half-width img{
	width: 70%;
	border-radius: 20px;
	margin: 50px auto;
}

.half-width p {
	text-align: justify;
	color: rgb(42 105 76);
	line-height: 28px;
	padding: 2% 2%;
	border-radius: 10px;
	margin: 20px 10%;
	font-size: 20px;
}

.half-width h1 {
	margin: 0px 15%;
	text-align: center;
	color: rgb(42 105 76);
	padding: 15px 0px;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 5px solid rgb(42 105 76);
}

.half-width h2{
	text-align: center;
	color: white;
	padding-bottom: 5px;
	border-bottom: 2px solid #FFFFFF;
	font-size: 20px;
	font-weight: bold;
}

.content-page-title {
	border-radius: 10px 10px 0px 0px;
	background-position: center;
	background-image: url(images/pension1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 225px;
}

.content-page-title h1 {
	border: 0px;
	font-size: 80px;
	color: white;
	text-shadow: 0px 3px 0px #b5d0ba, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.content-page-title-h1 {
	padding-top: 6%;
}

.half-width h3{
	font-weight: normal;
	color: white;
	font-size: 18px;
	margin: 20px 0px;
}

.half-width h4{
	font-weight: bold;
	text-align: center;
	color: rgb(42 105 76);
	font-size: 18px;
	margin: 20px 0px;
}


.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

.popup-content {
	min-width: 60%;
	font-size: 11px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1%;
	background: white;
	border-radius: 20px;
	text-align: center;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	cursor: pointer;
}

.popup-content h1 {
	margin: 0% 10% 4% 10%;
	text-align: center;
	color: rgb(61 169 119);
	padding: 8px 0px;
	font-size: 21px;
	font-weight: bold;
	border-bottom: 3px solid rgb(61 169 119);
}

.popup-content h2 {
	margin: 2% 10% 2% 10%;
	text-align: center;
	color: rgb(61 169 119);
	padding: 8px;
	font-size: 24px;
	font-weight: bold;
}

.popup-content p {
	line-height: 20px;
	margin: 2% 10%;
	text-align: left;
	color: #121212;
	font-size: 15px;
}

.biography-sec {
	height: 100%;
	display: flex;
	padding: 8%;
	background: linear-gradient(180deg, rgb(235 255 239) 0%, rgba(149, 204, 126, 0) 100%);
	justify-content: center;
	align-items: center;
}
/* HERO */
.section-hero {
	background : linear-gradient(180deg, rgb(228 255 245) 0%, rgba(149, 204, 126, 0) 100%);;
	padding: 2rem 0;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.076);
}

.hero-group {
	display: grid;
	grid-template-columns: 45fr 55fr;
	gap : 10%;
	max-width: 130rem;
	margin: 6rem auto 10rem auto;
	align-items: center;
	justify-content: center;
}

.hero-text-wrapper {
	margin: 3rem;
}

.hero-heading {
	color: rgb(14 141 95);;
	font-size: 5rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 6.5rem;
	margin-bottom: 1.5rem;
}

.hero-description {
	color: rgb(42 105 76);
	font-size: 2.1rem;
	max-width: 60rem;
	margin-bottom: 3rem;
}

/* HERO MARQUEE */
.hero-marquee {
	border-radius: 20px;
	max-width: 65rem;
	white-space: nowrap;
	overflow: hidden;
}

.meal-types-list {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 3rem;
}

.marquee-animation {
	animation: marquee 12s infinite alternate;
}

.marquee-animation:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.paleo {
	background: #eed374;
}

.vegan {
	background: #64dc77;
}

.gluten {
	background: #d7beff;
}

.lactose {
	background: #e8c2d4;
}

.pesca {
	background: #c2e1e8;
}

.vegetarian {
	background: #82ae8e;
}

.keto {
	background: #cec99e;
}

.fodmap {
	background: #ffa9a9;
}

.kid {
	background: #f39f52;
}

.meal-types-list li {
	display: inline;
	padding: 0.6rem 0.8rem;
	border-radius: 50px;
	margin: 0.5rem;
}

/* HERO BUTTONS  + GENERAL BUTTON STYLING */
.hero-buttons {
	margin-top: 4rem;
}

.btn {
	border-radius: 50px;
	padding: 1rem 4rem;
	font-size: 1.7rem;
	margin: 0 1rem;
	font-weight: 400;
	transition: all 150ms ease-in-out;
}

.outline-btn {
	border: 3px solid rgb(14 141 95);
	background: white;
	box-shadow: inset 0 0 0 3px #f5f5f5;
}

.outline-btn:hover {
	color: white;
	background: rgb(14 141 95);
	box-shadow: none;
}

.solid-btn {
	border: 3px solid rgb(14 141 95);
	background: rgb(14 141 95);;
	color: rgb(245, 245, 245);
}

.solid-btn:hover {
	border: 3px solid rgb(11, 107, 72);
	background: rgb(11, 107, 72);
}

/* HERO IMAGE */
.hero-img-wrapper,
.mobile-hero-img {
	width: 100%;
	margin: auto;
}

.hero-img-wrapper img {
	max-width: 74%;
	border-radius: 1rem;
}

.mobile-hero-img img {
	display: none;
	max-width: 50rem;
	max-height: 50rem;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: 16px;
	filter: opacity(0.8);
}

/* HERO CUSTOMER PROOF */
.hero-customer-proof {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
	gap: 1.5rem;
}

.customer-img-wrapper {
	display: flex;
}

.customer-img-wrapper img {
	border: 3px solid #ffffff;
	border-radius: 50px;
	width: 5.5rem;
	margin-right: -1.5rem;
}

.customer-img-wrapper img:last-child {
	margin: 0;
}

.customer-data {
	font-size: 1.6rem;
}

.customer-data i {
	color: #b80000;
	font-weight: 700;
}

.customer-data span:first-of-type {
	color: #2a8900;
}

.customer-data span:last-of-type {
	color: #585858;
	font-size: 1.4rem;
	font-weight: 500;
}

/* FEATURED LOGOS SECTION */
.featured-logos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10rem;
	border-bottom: 1px solid rgba(128, 128, 128, 0.138);
	max-width: 130rem;
	margin: 0 auto;
	padding: 6rem 4rem;
}

.featured-logos img {
	object-fit: contain;
	height: 2.8rem;
	filter: grayscale(100%) brightness(0);
	opacity: 0.8;
}

/* GENERAL HEADING STYLING */
.subheading {
	color: #379e0a;
	text-transform: uppercase;
	font-size: 2.4rem;
	text-align: center;
}

.body-heading {
	font-size: 4.4rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 6.5rem;
	margin-top: 1.5rem;
	text-align: center;
}

.body-heading span {
	color: rgb(14 141 95);
}

.heading-left {
	text-align: start;
}

/* HOW IT WORKS SECTION */
.section-how {
	max-width: 130rem;
	margin: 0 auto;
	padding: 6rem 4rem;
}

.how-full-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
}

.how-img-wrapper .mobile-bg:last-child {
	margin-bottom: 10rem;
}

.how-full-wrapper-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	margin-top: 3rem;
	flex-direction: row-reverse;
}

.how-text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* HOW IT WORKS SECTION: APP SCREENSHOTS */
.mobile-bg {
	background: linear-gradient(180deg, rgb(235 255 239) 0%, rgba(149, 204, 126, 0) 100%);
	border-radius: 20px;
	padding: 4rem;
	height: 36rem;
	width: 30rem;
	margin-top: 3rem;
}

.mobile-bg img {
	min-width: 18rem;
	width: 22rem;
	display: none;
}

/* ANIMATION FOR APP SCREENSHOTS */
.animate-img img {
	animation: scroll-img 1s ease-in-out;
	display: block;
}

@keyframes scroll-img {
	0% {
		opacity: 0;
		transform: translateY(40%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

/* HOW IT WORKS SECTION: TEXT & DETAILS */
.how-step-num {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ddf3d3;
	background: #379e0a;
	font-size: 3rem;
	border-radius: 50%;
	width: 6.5rem;
	height: 6.5rem;
	margin-bottom: 2rem;
	padding: 2.5rem;
}

.how-heading {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.how-heading span {
	font-style: italic;
	font-weight: 400;
}

.how-desc {
	font-size: 1.6rem;
	max-width: 46rem;
}

span.excursion-content {
	font-weight: normal;
}

/* MEALS SECTION */
.section-meals {
	background: linear-gradient(180deg,
	rgb(228 255 245),
	rgba(255, 255, 255)
	);
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meal-card-overview {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 140rem;
	gap: 2rem;
	margin-top: 3rem;
}

/* MEAL CARDS */
.meal-card {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(230, 230, 230, 0.6);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	transition: all 200ms ease-in;
}

.meal-card img {
	width: 100%;
	border-radius: 16px 16px 0px 0px;
}

.meal-card-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-height: 480px;
	padding: 2rem 0.6rem;
	overflow-y: auto;
}

/* Styles pour l'ascenseur vertical */
.meal-card-body::-webkit-scrollbar {
	width: 8px; /* Largeur de l'ascenseur */
}

/* Style de la barre de défilement */
.meal-card-body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #1d4837; /* Couleur de l'ascenseur */
}

/* Style de la piste de défilement */
.meal-card-body::-webkit-scrollbar-track {
	background-color: transparent; /* Couleur de fond de la piste */
}

/* Désactiver les flèches de défilement */
.meal-card-body::-webkit-scrollbar-button {
	display: none;
}

.meal-card-heading {
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	margin: 0rem 1rem 2rem 1rem;
}

.meal-card-desc {
	min-height: 70px;
	color: #626262;
	font-size: 13px;
	margin: auto 1rem 1rem 1rem;
}

.meal-stats {
	min-height: 130px;
	font-size: 13px;
	padding: 1rem;
	margin: 0;
}

.meal-stats li {
	padding-bottom: 2rem;
	vertical-align: middle;
}

.meal-stats i {
	color: rgb(14 141 95);
	font-size: 13px;
	margin-right: 4px;
}

.meal-card:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.184);
	background: white;
}
.offre-buttons{
	text-align: center;
}

.offre-buttons a {
	font-size: 14px;
	display: inline-block;
	padding: 0.8rem 2rem;
	border: 3px solid rgb(14 141 95);
	border-radius: 50px;
	text-decoration: none;
	color: rgb(14 141 95);
	transition: all 0.3s ease-in-out;
}

.offre-buttons a:hover {
	background-color: rgb(14 141 95);
	color: #fff;
}


/* MEAL TYPES LIST EXPANDED in MEAL SECTION */
.meal-types-overview {
	margin: 4rem auto;
	font-size: 1.8rem;
	font-weight: 500;
	text-align: center;
}

.meal-types-overview span {
	color: #379e0a;
}

.meal-types-overview .meal-types-list {
	margin: 3rem 2rem;
	transform: scale(1.2);
	line-height: 4rem;
}

.meal-types-overview .meal-types-list li {
	white-space: nowrap;
}

/* EXTRA DETAILS */

.section-member-info {
	background: white;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.076);
	text-align: center;
	padding: 2rem;
}

.member-info-banner {
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	max-width: 110rem;
	margin: 0 auto;
}

.banner-item {
	display: flex;
	flex-direction: column;
	width: 19rem;
}

.banner-heading {
	font-weight: 700;
	font-size: 1.4rem;
	margin: 1rem 0;
}

.banner-desc {
	font-size: 1.4rem;
}

.banner-item i {
	font-size: 2.8rem;
	margin: 0 auto;
	color: #379e0a;
	background: #d8f5cc;
	padding: 1.5rem;
	border-radius: 50px;
}

.banner-item:last-child i {
	padding: 1.5rem 2rem;
}


/* FOOTER SECTION */
footer {
	background: #d5ffe65e;
	border-top: 1px solid #e1e1e1;
	padding: 6rem 5rem;
}

.section-footer {
	display: flex;
	margin: 0 auto;
	max-width: 90%;
	justify-content: space-between;
}

.footer-info-desc {
	max-width: 250px;
	color: #333333;
	margin: 25px 0px;
	font-size: 1.4rem;
}

.footer-socials i {
	font-size: 2rem;
	color: #123901;
	margin-right: 2rem;
}

.footer-socials i:hover {
	color: #216703;
}

/* FOOTER LINKS */
.footer-links {
	font-size: 1.4rem;
}

.footer-links li {
	padding: 1rem;
}

.footer-links li:hover {
	text-decoration: underline;
}

.footer-links li:first-child {
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;
	cursor: auto;
	margin-top: 1rem;
}

.contact-info li:hover {
	text-decoration: none;
	cursor: auto;
}

@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}
	10% {
		transform: translateX(0);
		opacity: 1;
	}
	40% {
		transform: translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 0;
	}
}

.hero-img-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.hero-img-wrapper > img {
	position: absolute;
	opacity: 0;
	animation: display 12s infinite;
}

img:nth-child(2) {
	animation-delay: 6s;
}

.carousel-container {
	width: 100%;
	overflow: hidden; /* Masque la scrollbar */
	display: flex;
	gap: 3%;
	align-items: center;
	scroll-snap-type: x mandatory;
	flex-flow: row nowrap;
	scroll-behavior: smooth;
}

.carousel-slide {
	flex: 1 0 23%;
	aspect-ratio: 1;
	flex-flow: column nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	scroll-snap-align: center;
}

.carousel-slide img{
	max-height: 100%;
	max-width: 100%;
}

.carousel-indicators {
	text-align: center;
	padding-top: 20px;
}

.indicator {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #1d4837;
	border-radius: 50%;
	background-color: #1d4837;
	margin: 0 5px;
	cursor: pointer;
}

.indicator.active {
	border: 2px solid #1d4837;
	background-color: #fff;
}



section.background-contact {
	display: flex;
	gap: 15px;
	background-image: url(images/background_article.png);
	padding: 50px 10px;
	flex-wrap: wrap;
	justify-content: center;
}

section.img-contact {
	border-radius: 30px;
	max-width: 500px;
	min-height: 300px;
	background-image: url(images/contact.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 98%;
	transition: all 0.7s ease;
}
section.img-contact:hover{
	transform: scale(1.01);
	box-shadow: 5px 5px 5px 5px #121212b8;
}


section.contact {
	background: linear-gradient(180deg, rgb(235 255 239), rgba(255, 255, 255) );
	border: 6px solid #447664;
	border-radius: 30px;
	max-width: 500px;
	font-size: 20px;
	text-align: center;
	transition: all 0.7s ease;
}
section.contact:hover{
	transform: scale(1.03);
	box-shadow: 10px 10px 10px 10px #121212b8;
}

section.contact h1{
	color: #447664;
	padding: 20px;
}

.m-7 {
	text-align: center;
	padding: 1%;
}

.mb-6 {
	text-align: left;
	margin: 10px;
}

button.submit-mail {
	background: white;
	color: #447664;
	font-weight: bold;
	margin: 3% auto;
	padding: 3%;
	border-radius: 10px;
	border: 3px solid #447664;
	transition: background 0.7s ease, color 0.7s ease;
}

button.submit-mail:hover {
	background: #447664;
	color: white;
	cursor: pointer;
}

input#phone, input#name, input#email, textarea#message {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	width: 100%;
}

@media (max-width: 600px) {
	footer{
		padding: 0;
	}
	.footer-info-desc {
		max-width: 400px;
		text-align: center;
	}
	.section-footer {
		max-width: 90%;
		text-align: center;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		gap: 0%;
		justify-content: space-around;
		padding-bottom: 40px;
	}
	iframe{
		width: 100%;
	}
	.meal-card-body{
		max-height: 1080px;;
	}
	.logo{
		height: 8rem;
	}
	.carousel-slide {
		flex: 1 0 80%;
	}
	.half-width {
		margin: 100px 0% 8% 0%;
	}
	.section-member-info {
		padding: 1rem;
	}
	.half-width h1 {
		font-size: 20px;
	}
	.half-width p {
		font-size: 15px;
	}
	.biography-sec{
		padding: 4%;
	}
	span.excursion-content {
		display: none;
	}
	.carousel-container {
		overflow-x: auto;
	}

	.carousel-container::-webkit-scrollbar {
		height: 14px;
		width: calc(100% - 48px);
	}

	.carousel-container::-webkit-scrollbar-track {
		background: #b1b3b399;
	}

	.carousel-container::-webkit-scrollbar-thumb {
		background: #1d4837;
	}

	.carousel-container::-webkit-scrollbar-track-piece:start {
		background: #b1b3b399;
	}
	.indicator{
		display: none;
	}
	.popup-content h1 {
		margin: 2% 10%;
		font-size: 15px;
	}
	.popup-content h2 {
		margin: 1% 10%;
		padding: 3px;
		font-size: 14px;
	}
	.popup-content p {
		line-height: 20px;
		margin: 0% 1%;
		font-size: 12px;
	}
	.content-page-title h1 {
		display: none;
	}
}

@media only screen and (max-width: 1400px) and (min-width: 600px){

	.hero-group {
		gap: 2%;
		margin: 6rem 5%;
	}
	.hero-heading {
		font-size: 3rem;
	}
	.biography-sec{
		flex-direction: column;
	}
	.main-nav-list{
		gap :0.8rem;
		font-size: 15px;
	}
	.header .solid-btn {
		display: none;
	}
	.hero-text-wrapper {
		margin: 2rem;
	}
	.carousel-slide {
		flex: 1 0 31%;
	}
	.half-width{
		margin: 0% 2%;
	}
	.btn {
		font-size: 1.2rem;
		padding: 1rem 2rem;
	}
	.popup-content p {
		font-size: 13px;
	}
}
@media only screen and (min-width: 600px){
	.main-nav-list {
		font-size: 18px;
	}
}
